html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: #2f3437;
  color: #fff;
  overflow-y: hidden;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}
p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

webview {
  display: block; /* iframes are inline by default */
  border: none; /* Reset default border */
  /* height: calc(80vh - 32px); */
  /* margin-top: 32px; */
  height: 80vh;
  width: 95vw;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
